html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot?t9uvuq');
    src: url('fonts/icomoon.eot?t9uvuq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t9uvuq') format('truetype'),
    url('fonts/icomoon.woff?t9uvuq') format('woff'),
    url('fonts/icomoon.svg?t9uvuq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 10px;
}

.checkbox__input {
    position: absolute;
    left: -280493px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.checkbox__input:focus {
    outline: none;
}

.checkbox__switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    margin: 0 5px;
    padding: 3px;
    border: 1px solid #D3D1D1;
    border-radius: 2px;
    font-size: 0.8em;
    cursor: pointer;
}

.checkbox__switch::after {
    content: "\e901";
    visibility: hidden;
    color: currentColor;
    font-family: "icomoon" !important;
}

.checkbox__input:checked+.checkbox__switch::after {
    display: inline-flex;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkbox__label {
    display: inline-block;
    margin: 0 3px;
}

.checkbox--is-round .checkbox__switch {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    font-size: 0.7em;
}

.checkbox--is-slider .checkbox__switch {
    position: relative;
    width: 53px;
    height: 20px;
    border-radius: 10px;
}

.checkbox--is-slider .checkbox__switch::after {
    content: "\e908";
    position: absolute;
    left: 2px;
    visibility: visible;
    font-size: 18px;
    color: #6A6A6A;
    transition: left ease-out 400ms;
}

.checkbox--is-slider .checkbox__input:checked+.checkbox__switch::after {
    left: 33px;
    transition: left ease-in 400ms;
}

.checkbox--primary .checkbox__input:checked+.checkbox__switch {
    background: #D3D1D1;
}

.checkbox--success .checkbox__input:checked+.checkbox__switch {
    background: #83D17E;
}

.checkbox--danger .checkbox__input:checked+.checkbox__switch {
]    background: #DB4834;
}

.checkbox--warning .checkbox__input:checked+.checkbox__switch {
    background: #fde430;
}

.checkbox--info .checkbox__input:checked+.checkbox__switch {
    background: #64D2F6;
}

.checkbox--inverse .checkbox__input:checked+.checkbox__switch {
    background: #111516;
}

.checkbox--success .checkbox__input:checked+.checkbox__switch,
.checkbox--primary .checkbox__input:checked+.checkbox__switch,
.checkbox--warning .checkbox__input:checked+.checkbox__switch,
.checkbox--info .checkbox__input:checked+.checkbox__switch,
.checkbox--danger .checkbox__input:checked+.checkbox__switch
{
    border-color: transparent;
    box-shadow: 2px 1px 5px #D3D1D1;
}


.checkbox--primary .checkbox__input:checked+.checkbox__switch::after,
.checkbox--inverse .checkbox__input:checked+.checkbox__switch::after,
.checkbox--success .checkbox__input:checked+.checkbox__switch::after,
.checkbox--danger .checkbox__input:checked+.checkbox__switch::after,
.checkbox--warning .checkbox__input:checked+.checkbox__switch::after,
.checkbox--info .checkbox__input:checked+.checkbox__switch::after {
    color: #FFF;
}
